@charset "utf-8";


    *{font-family:'微软雅黑' !important;  }

    *,
    :after,
    :before{box-sizing:border-box;}

    a{text-decoration:none;cursor:pointer;}
    a:focus{outline:none;  }
    img{display:block;box-sizing:content-box;border:none;}
    ol,ul{margin:0;padding:0;}
    li{list-style:none;}
    table{table-layout:fixed}
    iframe{border:none;}
    textarea{outline:none;resize:none;}
    button,input{outline:none;}
    body,dl,dd,h1,h2,h3,h4,h5,h6,p{margin:0;}

    html{height:100%;  -webkit-tap-highlight-color:transparent;}
    body{height:100%;  position:relative;  }


    [cont]{margin:0 auto;}
    [tac]{text-align:center;  }
    [clear]:after{content:'';  clear:both;  display:block;  }
    [cll]{clear:left;  }
    [clr]{clear:right;  }
    [ovh]{overflow:hidden;}
    [ova]{overflow:auto;-webkit-overflow-scrolling:touch;}
    [hide]{display:none;}
    [fll]{float:left;}
    [flr]{float:right;}
    [mau]{margin:auto;}
    [slh]{overflow:hidden;  text-overflow:ellipsis;  white-space:nowrap;  }


    [lg1],[lg10],[lg11],[lg12],[lg2],[lg3],[lg4],[lg5],[lg6],[lg7],[lg8],[lg9],
    [md1],[md10],[md11],[md12],[md2],[md3],[md4],[md5],[md6],[md7],[md8],[md9],
    [sm1],[sm10],[sm11],[sm12],[sm2],[sm3],[sm4],[sm5],[sm6],[sm7],[sm8],[sm9],
    [xs1],[xs10],[xs11],[xs12],[xs2],[xs3],[xs4],[xs5],[xs6],[xs7],[xs8],[xs9],
    [xx1],[xx10],[xx11],[xx12],[xx2],[xx3],[xx4],[xx5],[xx6],[xx7],[xx8],[xx9]{position:relative;}


    /* 1200以上 */
    [cont]{width:1200px;  }
    [lg1],[lg10],[lg11],[lg12],[lg2],[lg3],[lg4],[lg5],[lg6],[lg7],[lg8],[lg9]{float:left;}[lg12]{width:100%}[lg11]{width:91.66666667%}[lg10]{width:83.33333333%}[lg9]{width:75%}[lg8]{width:66.66666667%}[lg7]{width:58.33333333%}[lg6]{width:50%}[lg5]{width:41.66666667%}[lg4]{width:33.33333333%}[lg3]{width:25%}[lg2]{width:16.66666667%}[lg1]{width:8.33333333%}[lgr12]{right:100%}[lgr11]{right:91.66666667%}[lgr10]{right:83.33333333%}[lgr9]{right:75%}[lgr8]{right:66.66666667%}[lgr7]{right:58.33333333%}[lgr6]{right:50%}[lgr5]{right:41.66666667%}[lgr4]{right:33.33333333%}[lgr3]{right:25%}[lgr2]{right:16.66666667%}[lgr1]{right:8.33333333%}[lgr0]{right:auto}[lgl12]{left:100%}[lgl11]{left:91.66666667%}[lgl10]{left:83.33333333%}[lgl9]{left:75%}[lgl8]{left:66.66666667%}[lgl7]{left:58.33333333%}[lgl6]{left:50%}[lgl5]{left:41.66666667%}[lgl4]{left:33.33333333%}[lgl3]{left:25%}[lgl2]{left:16.66666667%}[lgl1]{left:8.33333333%}[lgl0]{left:auto}[lgo12]{margin-left:100%}[lgo11]{margin-left:91.66666667%}[lgo10]{margin-left:83.33333333%}[lgo9]{margin-left:75%}[lgo8]{margin-left:66.66666667%}[lgo7]{margin-left:58.33333333%}[lgo6]{margin-left:50%}[lgo5]{margin-left:41.66666667%}[lgo4]{margin-left:33.33333333%}[lgo3]{margin-left:25%}[lgo2]{margin-left:16.66666667%}[lgo1]{margin-left:8.33333333%}[lgo0]{margin-left:0}
    [lghd]{display:none !important;  }
    [lgsh]{display:block !important;  }

    /* 1200及以下 */
    @media (max-width:1200px){
        [cont]{width:970px;  }
        [md1],[md10],[md11],[md12],[md2],[md3],[md4],[md5],[md6],[md7],[md8],[md9]{float:left;}[md12]{width:100%}[md11]{width:91.66666667%}[md10]{width:83.33333333%}[md9]{width:75%}[md8]{width:66.66666667%}[md7]{width:58.33333333%}[md6]{width:50%}[md5]{width:41.66666667%}[md4]{width:33.33333333%}[md3]{width:25%}[md2]{width:16.66666667%}[md1]{width:8.33333333%}[mdr12]{right:100%}[mdr11]{right:91.66666667%}[mdr10]{right:83.33333333%}[mdr9]{right:75%}[mdr8]{right:66.66666667%}[mdr7]{right:58.33333333%}[mdr6]{right:50%}[mdr5]{right:41.66666667%}[mdr4]{right:33.33333333%}[mdr3]{right:25%}[mdr2]{right:16.66666667%}[mdr1]{right:8.33333333%}[mdr0]{right:auto}[mdl12]{left:100%}[mdl11]{left:91.66666667%}[mdl10]{left:83.33333333%}[mdl9]{left:75%}[mdl8]{left:66.66666667%}[mdl7]{left:58.33333333%}[mdl6]{left:50%}[mdl5]{left:41.66666667%}[mdl4]{left:33.33333333%}[mdl3]{left:25%}[mdl2]{left:16.66666667%}[mdl1]{left:8.33333333%}[mdl0]{left:auto}[mdo12]{margin-left:100%}[mdo11]{margin-left:91.66666667%}[mdo10]{margin-left:83.33333333%}[mdo9]{margin-left:75%}[mdo8]{margin-left:66.66666667%}[mdo7]{margin-left:58.33333333%}[mdo6]{margin-left:50%}[mdo5]{margin-left:41.66666667%}[mdo4]{margin-left:33.33333333%}[mdo3]{margin-left:25%}[mdo2]{margin-left:16.66666667%}[mdo1]{margin-left:8.33333333%}[mdo0]{margin-left:0}
        [mdhd]{display:none !important;  }
        [mdsh]{display:block !important;  }
    }
    /* 1024及以下 */
    @media (max-width:1024px) {
        [cont]{width:100%;  }
        [sm1],[sm10],[sm11],[sm12],[sm2],[sm3],[sm4],[sm5],[sm6],[sm7],[sm8],[sm9]{float:left;}[sm12]{width:100%}[sm11]{width:91.66666667%}[sm10]{width:83.33333333%}[sm9]{width:75%}[sm8]{width:66.66666667%}[sm7]{width:58.33333333%}[sm6]{width:50%}[sm5]{width:41.66666667%}[sm4]{width:33.33333333%}[sm3]{width:25%}[sm2]{width:16.66666667%}[sm1]{width:8.33333333%}[smr12]{right:100%}[smr11]{right:91.66666667%}[smr10]{right:83.33333333%}[smr9]{right:75%}[smr8]{right:66.66666667%}[smr7]{right:58.33333333%}[smr6]{right:50%}[smr5]{right:41.66666667%}[smr4]{right:33.33333333%}[smr3]{right:25%}[smr2]{right:16.66666667%}[smr1]{right:8.33333333%}[smr0]{right:auto}[sml12]{left:100%}[sml11]{left:91.66666667%}[sml10]{left:83.33333333%}[sml9]{left:75%}[sml8]{left:66.66666667%}[sml7]{left:58.33333333%}[sml6]{left:50%}[sml5]{left:41.66666667%}[sml4]{left:33.33333333%}[sml3]{left:25%}[sml2]{left:16.66666667%}[sml1]{left:8.33333333%}[sml0]{left:auto}[smo12]{margin-left:100%}[smo11]{margin-left:91.66666667%}[smo10]{margin-left:83.33333333%}[smo9]{margin-left:75%}[smo8]{margin-left:66.66666667%}[smo7]{margin-left:58.33333333%}[smo6]{margin-left:50%}[smo5]{margin-left:41.66666667%}[smo4]{margin-left:33.33333333%}[smo3]{margin-left:25%}[smo2]{margin-left:16.66666667%}[smo1]{margin-left:8.33333333%}[smo0]{margin-left:0}
        [smhd]{display:none !important;  }
        [smsh]{display:block !important;  }
    }
    /* 768及以下 */
    @media (max-width:768px) {
        [xs1],[xs10],[xs11],[xs12],[xs2],[xs3],[xs4],[xs5],[xs6],[xs7],[xs8],[xs9]{float:left;}[xs12]{width:100%}[xs11]{width:91.66666667%}[xs10]{width:83.33333333%}[xs9]{width:75%}[xs8]{width:66.66666667%}[xs7]{width:58.33333333%}[xs6]{width:50%}[xs5]{width:41.66666667%}[xs4]{width:33.33333333%}[xs3]{width:25%}[xs2]{width:16.66666667%}[xs1]{width:8.33333333%}[xsr12]{right:100%}[xsr11]{right:91.66666667%}[xsr10]{right:83.33333333%}[xsr9]{right:75%}[xsr8]{right:66.66666667%}[xsr7]{right:58.33333333%}[xsr6]{right:50%}[xsr5]{right:41.66666667%}[xsr4]{right:33.33333333%}[xsr3]{right:25%}[xsr2]{right:16.66666667%}[xsr1]{right:8.33333333%}[xsr0]{right:auto}[xsl12]{left:100%}[xsl11]{left:91.66666667%}[xsl10]{left:83.33333333%}[xsl9]{left:75%}[xsl8]{left:66.66666667%}[xsl7]{left:58.33333333%}[xsl6]{left:50%}[xsl5]{left:41.66666667%}[xsl4]{left:33.33333333%}[xsl3]{left:25%}[xsl2]{left:16.66666667%}[xsl1]{left:8.33333333%}[xsl0]{left:auto}[xso12]{margin-left:100%}[xso11]{margin-left:91.66666667%}[xso10]{margin-left:83.33333333%}[xso9]{margin-left:75%}[xso8]{margin-left:66.66666667%}[xso7]{margin-left:58.33333333%}[xso6]{margin-left:50%}[xso5]{margin-left:41.66666667%}[xso4]{margin-left:33.33333333%}[xso3]{margin-left:25%}[xso2]{margin-left:16.66666667%}[xso1]{margin-left:8.33333333%}[xso0]{margin-left:0}
        [xshd]{display:none !important;  }
        [xssh]{display:block !important;  }
    }
    /* 554及以下 */
    @media (max-width:554px) {
        [xx1],[xx10],[xx11],[xx12],[xx2],[xx3],[xx4],[xx5],[xx6],[xx7],[xx8],[xx9]{float:left;}[xx12]{width:100%}[xx11]{width:91.66666667%}[xx10]{width:83.33333333%}[xx9]{width:75%}[xx8]{width:66.66666667%}[xx7]{width:58.33333333%}[xx6]{width:50%}[xx5]{width:41.66666667%}[xx4]{width:33.33333333%}[xx3]{width:25%}[xx2]{width:16.66666667%}[xx1]{width:8.33333333%}[xxr12]{right:100%}[xxr11]{right:91.66666667%}[xxr10]{right:83.33333333%}[xxr9]{right:75%}[xxr8]{right:66.66666667%}[xxr7]{right:58.33333333%}[xxr6]{right:50%}[xxr5]{right:41.66666667%}[xxr4]{right:33.33333333%}[xxr3]{right:25%}[xxr2]{right:16.66666667%}[xxr1]{right:8.33333333%}[xxr0]{right:auto}[xxl12]{left:100%}[xxl11]{left:91.66666667%}[xxl10]{left:83.33333333%}[xxl9]{left:75%}[xxl8]{left:66.66666667%}[xxl7]{left:58.33333333%}[xxl6]{left:50%}[xxl5]{left:41.66666667%}[xxl4]{left:33.33333333%}[xxl3]{left:25%}[xxl2]{left:16.66666667%}[xxl1]{left:8.33333333%}[xxl0]{left:auto}[xxo12]{margin-left:100%}[xxo11]{margin-left:91.66666667%}[xxo10]{margin-left:83.33333333%}[xxo9]{margin-left:75%}[xxo8]{margin-left:66.66666667%}[xxo7]{margin-left:58.33333333%}[xxo6]{margin-left:50%}[xxo5]{margin-left:41.66666667%}[xxo4]{margin-left:33.33333333%}[xxo3]{margin-left:25%}[xxo2]{margin-left:16.66666667%}[xxo1]{margin-left:8.33333333%}[xxo0]{margin-left:0}
        [xxhd]{display:none !important;  }
        [xxsh]{display:block !important;  }
    }


    ::-webkit-scrollbar{width:8px;  height:8px;  }
    ::-webkit-scrollbar-track{background:#f1f1f1;  }
    ::-webkit-scrollbar-thumb{background:#999;  border-radius:8px;  }

    
    [blue]{color:#3ACECC;  }




header{padding:20px 60px 0;  position:relative;  top:0;  left:0;  right:0;  z-index:10;  transition:0.2s;  }

    #logo{float:left;  position:relative;  }
    #logo>img{position:absolute;  top:0;  left:0;  transition:0.2s;  }
    #logo>img[fff]{opacity:0;  }

    header>nav{height:70px;  text-align:right;  font-size:0;  padding:14px 0;  }
    header>nav>a{display:inline-block;  font:16px/40px '';  border-bottom:2px solid transparent;  margin-left:25px;  color:#565656;  transition:0.2s;  }
    header>nav>a:hover{color:#3ACECC;  }
    header>nav>a.on{border-color:#3ACECC;  }
    header [open]{font:16px/50px '';  padding:0 35px 0 15px;  border:none;  margin:-4px 0 -4px 25px;  background:#D8261C;  color:#fff;  border-radius:25px;  box-shadow:0 0 5px #f00;  position:relative;  }
    header [open]>span{position:absolute;  height:20px;  width:20px;  right:18px;  top:4px;  bottom:0;  margin:auto;  }
    header [open]>b{font-weight:400;  padding:0 1em;  }
    header [open]>span:hover{text-shadow:0 0 5px #fff;  }
    header [open]:hover{color:#fff;  }
    header [hideNav]{display:none;  position:absolute;  top:100%;  left:0;  right:0;  margin:10px 15px 0;  padding:0 20px;  border-radius:5px;  box-shadow:0 0 5px rgba(0,0,0,0.3);  color:#565656;  text-align:center;  background:#fff;  }
    header [hideNav]>li{border-bottom:1px solid #DDDDDD;  font:16px/50px '';  }
    header [hideNav]>li:last-child{border:none;  }
    header [hideNav]>li:hover{color:#3ACECC;  }

    header [click='toggleNav()']{position:fixed;  top:10px;  right:10px;  z-index:101;  font-size:30px;  height:30px;  width:30px;  line-height:30px;  text-align:center;  color:#D8271C;  background:#fff;  border-radius:50%;  transition:0.2s;  display:none;  }
    header [click='toggleNav()'].ico-80{color:#fff;  background:#565656;  font-size:24px;  }


    header.fff>nav>a{color:#fff;  }
    header.fff #logo>img{opacity:0;  }
    header.fff #logo>img[fff]{opacity:1;  }


    @media (max-width:1024px) {
        header{padding:20px 20px 0;  }
        header>nav{height:50px;  padding:4px 0;  }
        #logo>img{height:50px;  }
        header>nav>a{font:16px/40px '';  margin-left:10px;  }
        header [open]{font:16px/40px '';  margin:1px 0 1px 15px;  }
        header [hideNav]>li{font:16px/2 '';  }
    }

    @media (max-width:760px) {
        header{padding:10px 10px 0;  }
        #logo>img{height:40px;  }
        header>nav{position:fixed;  top:0;  left:0;  z-index:100;  width:100%;  height:100%;  background:rgba(255,255,255,0.95);  padding-top:50px;  text-align:center;  display:none;  }
        header>nav>a{display:block;  margin:0 30px 5px;  border:none;  }
        header [open]{background:none;  color:#565656;  box-shadow:none;  margin:0 30px 5px;  padding:0;  }
        header [open]>span{display:none;  }
        header [open]>b{display:none;  }
        header [hideNav]{display:block;  background:none;  box-shadow:none;  position:static;  margin:0;  }
        header [hideNav]>li{border:none;  margin:0 0 5px;  font:16px/40px '';  }
        header [click='toggleNav()']{display:block;  }
        
        header.fff>nav>a{color:#555;  }
    }

#body{min-height:100%;  padding:90px 0 60px;  margin:-90px 0 -60px;  }
    @media (max-width:1024px) {
        #body{padding:70px 0 40px;  margin:-70px 0 -40px;  }
    }
    
    @media (max-width:760px) {
        #body{padding:50px 0 40px;  margin:-10px 0 -40px;  }
    }
    @media (max-width:360px) {
        #body{padding:50px 0 40px;  margin:-10px 0 -40px;  }
    }

footer{background:#F1F1F1;  color:#888888;  font:16px/60px '';  text-align:center;  }
    footer>p{border-bottom:1px solid #fff;  border:none;  }
    footer>[cont]{padding:50px 0;  font:12px/2 '';  text-align:left;  display:none !important;  }
    @media (max-width:1024px) {
        footer>[cont]{padding:50px 30px;  }
    }
    @media (max-width:1024px) {
        footer{font:14px/40px '';  }
        footer>[cont]{padding:20px;}
    }
    @media (max-width:760px) {
        footer{font:14px/40px '';  }
        footer>[cont]{padding:15px 10px;}
    }


/* 粒子效果css */
#lizi-bg{position:fixed;  z-index:-1;  top:0;  bottom:0;  left:0;  right:0;  }
    #lizi-bg>canvas{background:#fff;  }
    
    [ie9] #lizi-bg{background:url('../img/lizi-bg.jpg') center bottom/100% 100% no-repeat;  background-size:cover;  }



.popup404{height:100%;  width:100%;  position:relative;  }
    .popup404>img{position:absolute;  top:0;  bottom:0;  right:0;  left:0;  margin:auto;  padding-left:40px;  }

    @media (max-width: 554px) {
        .popup404>img{width:210.5px;  padding-left:20px;  }
    }
    
    


#ie8{display:block;text-align:center;  font:18px/2 '';  }
    #ie8 *{display:block;  }
    #ie8 a{display:inline;  }
    #ie8 div{background:#4CA7E6;padding:200px 0 20px;color:#fff;margin-bottom:10px;  }


    
    